<% if (insertMode) { %>
  <span class="spnfilename"><%= file.name %></span>
  <span
    style="margin-left:20px; cursor:pointer; position:absolute;"
    class="glyphicon glyphicon-remove deletefile"
  >
  </span>
<% } else { %>
  <td align="left" class="filedownload" formid="<%=file.FormID%>" GUID="<%=file.AttachmentGUID%>">
    <%=file.FileName%>
  </td>
  <td align="left"><%=file.UploadedByFullName%></td>
  <td align="left"><%=file.UploadedDate.replace("T"," ")%></td>
<% } %>
