<td
  align="left"
  class="filedownload"
  formid="<%=file.FormID%>"
  GUID="<%=file.AttachmentGUID%>"
>
  <%=file.FileName%>
</td>
<td align="left"><%=file.UploadedByFullName%></td>
<td align="left"><%=file.UploadedDate.replace("T"," ")%></td>
