
<% if (!noButton) {%>

	<div class='available-buttons text-center'>
	<% if (showSave) {%>
      <button class="btn btn-primary" id="btnsave" type="button">Save</button>
    <% } %>

    <% if (showDelete) { %>
      <button class="btn btn-primary" id="btndelete" type="button">Delete</button>
    <% } %>

    <% if (showSendToApplicant) {%>
      <button class="btn btn-primary" id="btnapplicant" type="button">Send to <%= applicantSendTo %></button>
    <% } %>

    <% if (showSendToApprover) {%>
      <button class="btn btn-primary" id="btnapprover" type="button">Send to <%= approverSendTo %></button>
    <% } %>

    <% if (showRecall) {%>
      <button class="btn btn-primary" id="btnrecall" type="button">Recall</button>
    <% } %>

    <% if (showResend) {%>
      <button class="btn btn-primary" id="btnresend" type="button">Resend Email Notification</button>
    <% } %>

    <%
    _.each(workflowButtons, function(wfButton){
    %>
      <button class="btn btn-primary workflow-btn" workflowaction="<%= wfButton.Action %>" uri="<%= wfButton.uri %>" type="button"><%= wfButton.ButtonName %></button>
    <%
    });
    %>
	</div>
	
<% } %>

<div style="background-color:white" id="backButtonBottom">
    <% if (showBack) {%>
	 <button type="button" id="btnBack" class="btn btn-link">❮ Back</button>
    <% } %>
</div>