<!--
  ControlFlag == 1 is drop down
  ControlFlag == 2 is text area
-->
<% if (request.ControlFlag == "1") { %>

<!-- <div class="Headleve2sub"> as container-->

  <!-- START: Repeat Unit = ControlFlag: 1 -->

  <div class="service-request-wrap <% if (isActive) { %>panel-active<% } %>"><!-- old <div class="leve2sub"> -->
    <div class="row">
      <div class="service_num" style='padding-left: 20px;'>
        <span class="select-applicant-step">
          <%= request.index %>
        </span>
      </div>

    <!--col-xs-8 col-sm-10-->
      <div class="service-request-input" style='padding: 0 10px;'>
        <div class="service-object-container btn-group full-width" style='width:100%'>
          <button type="button" class="service-request btn btn-default selectleve2sub" data-toggle="dropdown" id="leve2sub">
            <% if (request.selectedRequestModel) { %>
              <%= request.selectedRequestModel.toJSON().Name %>
            <% } else if (request.Name) { %>
              <%= request.Name %>
            <% } else { %>
              -- Select --
            <% }%>
          </button>
          <button type="button" class="service-request btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <!-- level 3: service request contents append here -->
        </div>
        <div class="sep-space"></div>

        <div>
          <textarea class="level3 form-control service-notes" rows="3" ><% if (request.selectedRequestModel) { %><%= request.selectedRequestModel.toJSON().Notes %><% } else if (request.SValue) { %><%= request.SValue %><% } %></textarea>
        </div>
      </div>

      <div class="service_num">
        <% if (needDelBtn) { %>
          <span class="glyphicon glyphicon-remove select-applicant-del btn-del"></span>
        <% } %>
      </div>
    </div>
    <div class="sep-space"></div>

  </div>
  <!-- END: Repeat Unit = ControlFlag: 1 -->


<!-- </div> -->

<%
} else {
%>

<div class="row service-request-wrap <% if (isActive) { %>panel-active<% } %>">
  <div class="service_num" style='padding-left: 20px;'>
    <span class="select-applicant-step">
      <%= request.index %>
    </span>
  </div>

  <div class="service-request-input select-service-title" style='padding: 0 10px;'>

    <div class="service-object-container">
      <!-- START: Repeat Unit of the level3: service object -->
    </div>

  </div>
  <div class="service_num">
    <% if (needDelBtn) { %>
      <span class="glyphicon glyphicon-remove select-applicant-del btn-del"></span>
    <% } %>
  </div>
</div>

<%
}
%>
