<%
if(items.Level3==null) {
  leve2nosub+=1;
%>
    <div class="row">
      <div class="col-xs-1 col-md-1">&nbsp;</div>
      <div class="col-md-9">
        <textarea class="form-control level2nosub" rows="3" id="level2nosub<%=leve2nosub%>"></textarea>
      </div>

    </div>
<%
} else {
  leve2sub += 1;
  <!--ControlFlag==1 is drop down 2 is text area for 3 rd level service -->
  if(items.Level3[0].ControlFlag=="1") {
%>
    <div class="Headleve2sub<%= leve2sub %>">
      <div class="leve2sub<%= leve2sub %>">
        <div class="row">
          <div class="col-xs-1 col-md-1"><span class="select-applicant-step">1</span></div>
          <div class="col-xs-9 col-md-9 btn-group full-width">
            <button type="button" class="btn btn-default level3dd selectleve2sub<%= leve2sub %>" data-toggle="dropdown" id="leve2sub<%= leve2sub %>">--Select--</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
    <%
    _.each(items.Level3, function(last, sindex) {
      <!--Enable==1 disable= 2 for 3rd level service -->
      if(last.Enabled === 1) {
    %>
              <li>
                <a approver="<%=last.Approver%>" actiontaker="<%=last.ActionTaker%>" id="<%=last.GUID%>" class="anclevel3">
                  <%=last.Name%>
                </a>
              </li>
    <%
    } else {
    %>
              <li style="pointer-events:none">
                <a approver="<%=last.Approver%>" style="color:#A9A0A2" actiontaker="<%=last.ActionTaker%>" id="<%=last.GUID%>" class="anclevel3">
                  <%=last.Name%>
                </a>
              </li>
    <%
    }
  });
    %>
            </ul>
          </div>
          <div class="col-xs-2 col-md-2"><span delid="<%= leve2sub %>" class="glyphicon glyphicon-remove select-applicant-del"></span></div>
        </div>
        <div class="sep-space"></div>
        <div class="row">
          <div class="col-xs-1 col-md-1">&nbsp;</div>
          <div class="col-md-9">
            <textarea class="form-control" rows="3" id="txtsoftware"></textarea>
          </div>
        </div>
        <div class="sep-space"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4 col-md-3 btn-group">
        <button type="button" value="<%= leve2sub %>" class="btn btn-orange btn-add"><span class="glyphicon glyphicon-plus"></span>&nbsp;add</button>
      </div>
    </div>
  <%
  } else {
    var lastnosub=0;
    _.each(items.Level3, function(last, sindex) {
      lastnosub+=1;
  %>
    <div class="row">
      <div id="<%=last.GUID%>" approver="<%=last.Approver%>" actiontaker="<%=last.ActionTaker%>" class="col-xs-12 col-md-12 select-service-title">
        <span class="service-title-desp"><%=last.Name%></span>
        <!--Enable==1 disable= 2 for 3rd level service -->
      <%
      if(last.Enabled==1) {
      %>
        <textarea class="form-control lastnosub" id="lastnosub<%= lastnosub %>" rows="3"></textarea>
      <%
      } else {
      %>
        <textarea disabled="disabled" class="form-control lastnosub" id="lastnosub<%= lastnosub %>" rows="3"></textarea>
      <%
      }
      %>
      </div>
    </div>
    <%
    });
  }
}
    %>
