<!--
  ControlFlag == 1 is drop down
  ControlFlag == 2 is text area
-->
<% if (request.ControlFlag == "1") { %>

<!-- <div class="Headleve2sub"> as container-->

  <!-- START: Repeat Unit = ControlFlag: 1 -->

  <div class="service-request-wrap"><!-- old <div class="leve2sub"> -->
    <div class="row">
      <div class="col-xs-1 col-md-1">
        <span class="select-applicant-step">
          <%= request.index %>
        </span>
      </div>
      <div class="col-xs-9 col-md-9 btn-group full-width service-object-container">
        <button type="button" class="service-request btn btn-default selectleve2sub" data-toggle="dropdown" id="leve2sub">
          <% if (request.selectedRequestModel) { %>
            <%= request.selectedRequestModel.toJSON().Name %>
          <% } else { %>
            -- Select --
          <% }%>
        </button>
        <button type="button" class="service-request btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>

        <!-- level 3: service request contents append here -->
      </div>
      <div class="col-xs-2 col-md-2">
        <% if (needDelBtn) { %>
          <span class="glyphicon glyphicon-remove select-applicant-del btn-del"></span>
        <% } %>
      </div>
    </div>
    <div class="sep-space"></div>
    <div class="row">
      <div class="col-xs-1 col-md-1">&nbsp;</div>
      <div class="col-md-9">
        <!-- <textarea class="level3 form-control service-notes" rows="3" disabled=<%= request.selectedServiceObject %> ><%= request.SValue%></textarea> -->
        <textarea class="level3 form-control service-notes" rows="3" ><% if (request.selectedRequestModel) { %><%= request.selectedRequestModel.toJSON().Notes %><% } %></textarea>
      </div>
    </div>
    <div class="sep-space"></div>
  </div>
  <!-- END: Repeat Unit = ControlFlag: 1 -->


<!-- </div> -->

<%
} else {
%>

<div class="row service-request-wrap">
  <div class="col-xs-1 col-md-1">
    <span class="select-applicant-step">
      <%= request.index %>
    </span>
  </div>
  <div class="col-xs-9 col-md-9 select-service-title">

    <div class="service-object-container">
      <!-- START: Repeat Unit of the level3: service object -->
    </div>

  </div>
  <div class="col-xs-2 col-md-2">
    <% if (needDelBtn) { %>
      <span class="glyphicon glyphicon-remove select-applicant-del btn-del"></span>
    <% } %>
  </div>
</div>

<%
}
%>
