<div class="mm-panels mm-vertical">
  <div class="mm-panel mm-vertical mm-opened mm-current" id="mm-0">
      <ul class="mm-listview mm-vertical">


        <%
        _.each(data, function(item, index) {
          _.each(item.Menu, function(items, index) {
            if(items.sumenu==null) {
              if(items.Scount==null) {
                %>
                <li>
                  <a href='<%=items.Mlink%>'>
                    <%= items.Name %>
                    <span class='glyphicon glyphicon-menu-right'></span>
                  </a>
                </li>
                <%
              } else {
                %>
                <li>
                  <a href='<%=items.Mlink%>'>
                    <%=items.Name %>
                    <span class='menu-index-value outline'><%=items.Scount%></span>
                    <span class='glyphicon glyphicon-menu-right'></span>
                  </a>
                </li>
                <%
              }
            } else {
              %>
              <li class='menu-section'>
                <span><%=items.Name%></span>
              </li>
              <%
              _.each(items.sumenu, function(submenu, sindex) {

                if(submenu.Scount==null){
                  %>
                  <li>
                    <a href='<%=submenu.Mlink%>'>
                      <%=submenu.Name%>
                      <span class='glyphicon glyphicon-menu-right'></span>
                    </a>
                  </li>
                  <%
                } else {
                  %>
                  <li>
                    <a href='<%=submenu.Mlink%>'>
                      <%=submenu.Name%>
                      <span class='menu-index-value outline'><%=submenu.Scount%></span>
                      <span class='glyphicon glyphicon-menu-right'></span>
                    </a>
                  </li>
                <% }
              });
            }
            %>

          <%
          });
        });
      %>
    </ul>
  </div>
</div>
